@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import "./reset.css";

html,
body {
  height: 100%; /* Устанавливаем высоту 100% для всего документа */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-family: "Inter", serif;
  margin: 0;
}
