@import url("https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&display=swap");
@import "./reset.css";

body {
  background-color: #f0f0f0;
  color: #000;
  font-family: "Inter", serif;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 30px;
}
